@use "components";

@mixin section-display {
    width: 100%;
    margin: auto;
    padding: 3rem;
}

@mixin section-display-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin section-display-services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sec-shop {
    @include section-display();
    .intro {
        color: components.$text-color;
        h2 {
            font-size: 1.5rem;
        }
    }
    hr {
        border: 1px solid white;
        width: 100%;
    }
    .subtitle {
        color: components.$text-color;
        h3 {
            font-size: 1.3rem;
        }
    }
    .container-one{
        .box-items {
            @include section-display-items();
            border-radius: 1rem;
            background-color: components.$background-color-perfect;
            .box-img-cup{
                max-width: 15rem;
                margin: 3rem;
            }
        
            .contenedor-auto {
                border-radius: 1rem;
                margin: 3rem;
                background-color: components.$background-color-c-a;
                width: 55rem;
                height: 15rem;
                padding: 3rem;
                overflow: auto;
                    p{
                        text-align: center;
                    }             
                }
            }
        }

    .container-s {
        @include section-display-services();
            .s-i {
                background-color: components.$background-color-perfect;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 10rem;
                height: 12rem;
                border-radius: 1rem;
                margin: 0.5rem;

                .texts {
                    color: components.$text-color;
                    margin-top: 1rem;
                }
            }
        
    }

    .container-prod {
        .carousel-inner {
            .carousel-item {
                background-color: components.$background-color-perfect;
                border-radius: 1rem;
                .icon-exc {
                    position: absolute;
                    top: 10%;
                    right: 58%;
                }
                .icon-shop {
                    position: absolute;
                    bottom: 26%;
                    left: 58%;
                }
                .carousel-caption {
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    background-color: #81634B;
                    position: static;
                    bottom: 3rem;
                }
            }
        }
        
    }
}

@media (max-width: 768px) {

    .sec-shop {
        .container-one {
            .box-items {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }

}