@use "../components";

@mixin section-display {
    width: 100%;
    margin: auto;
    padding: 3rem;
}

@mixin section-display-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

@mixin section-display-dfd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
}

.sec-menu-desserts {
    display: flex;
    align-items: start;
    flex-direction: column;
    @include section-display();
    .intro {
        color: components.$text-color;
        h2 {
            font-size: 1.5rem;
        }
    }
    hr {
        border: 1px solid white;
        width: 100%;
    }
    .subtitle {
        color: components.$text-color;
        h3 {
            font-size: 1.3rem;
        }
    }
    .container-cake {
        color: components.$text-color-soft;
        width: 100%;
        @include section-display-menu();
        .cake {
            @include section-display-dfd();
            background-color: components.$background-color-dfd;
            .img-cake {
                width: 10rem;
                height: 10rem;
                filter: brightness(1.1);
                border-radius: 100%;
            }

            h5 {
                text-align: center;
                font-size: 1.1rem;
            }
        }
    }
    .container-waffle {
        color: components.$text-color-soft;
        width: 100%;
        @include section-display-menu();
        .waffle {
            @include section-display-dfd();
            background-color: components.$background-color-dfd;
            .img-waffle {
                width: 10rem;
                height: 10rem;
                filter: brightness(1.1);
                border-radius: 100%;
            }

            h5 {
                text-align: center;
                font-size: 1.1rem;
            }
        }
    }
    .container-cheesecake {
        color: components.$text-color-soft;
        width: 100%;
        @include section-display-menu();
        .cheesecake {
            @include section-display-dfd();
            background-color: components.$background-color-dfd;
            .img-cheesecake {
                width: 10rem;
                height: 10rem;
                filter: brightness(1.1);
                border-radius: 100%;
            }

            h5 {
                text-align: center;
                font-size: 1.1rem;
            }
        }
    }
}