@use "../components";

@mixin section-display {
    width: 100%;
    margin: auto;
    padding: 3rem;
}

@mixin section-display-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@mixin section-display-dfd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
}

.sec-menu-desserts {
    display: flex;
    align-items: start;
    flex-direction: column;
    @include section-display();
    .intro {
        color: components.$text-color;
        h2 {
            font-size: 1.5rem;
        }
    }
    hr {
        border: 1px solid white;
        width: 100%;
    }
    .subtitle {
        color: components.$text-color;
        h3 {
            font-size: 1.3rem;
        }
    }
    .container-cake {
        @include section-display-menu();
    }
    .container-waffle {
        @include section-display-menu();
    }
    .container-cheesecake {
        @include section-display-menu();
    }
}