@use "../components";

@mixin section-display {
    width: 100%;
    margin: auto;
    padding: 3rem;
}

@mixin section-display-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sec-menu-r-food {
    display: flex;
    align-items: start;
    flex-direction: column;
    @include section-display();
    .intro {
        color: components.$text-color;
        h2 {
            font-size: 1.5rem;
        }
    }
    hr {
        border: 1px solid white;
        width: 100%;
    }
    .container-r-f {
        @include section-display-menu();
    }
}